.card-game {
    background-color: var(--color-alura);
    width: 130px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px var(--color-floral-white);
    margin: 0 5px;
}

.card-game:nth-child(odd) {
    margin-left: 10px;
    margin-right: 5px;
}

.card-game:nth-child(even) {
    margin-left: 5px;
    margin-right: 10px;
}